<!DOCTYPE html>
<!--suppress ALL-->
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="short icon" th:href="@{/static/images/favicon.ico}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static/css/hint.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/static/js/my.js}"></script>
    <script type="text/javascript" th:src="@{/static/ckeditor/ckeditor.js}"></script>
    <style type="text/css">
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <script th:inline="javascript">
        window.onload = function () {
            var loginSuccess = [[${loginSuccess}]];
            if (loginSuccess == true) {
                alert("Login successful, jump to homepage");
            }
            var loginSuccess = [[${loginSuccess}]];
            if (loginSuccess == false) {
                alert("Username or password is wrong, please re-enter");
            }
            var isUserOrNot = [[${isUserOrNot}]];
            if (isUserOrNot == false) {
                alert("Administrators cannot log in to the front desk. Please log in as an ordinary user.");
            }
            var successRegister = [[${successRegister}]];
            if (successRegister == true) {
                alert("registration success!");
            }
            var successResetPassword = [[${successResetPassword}]];
            if (successResetPassword == true) {
                alert("Password reset complete!");
            }
            var contactAddSuccess = [[${contactAddSuccess}]];
            if (contactAddSuccess == true) {
                alert("Message successfully!");
            }
            var contactModifySuccess = [[${contactModifySuccess}]];
            if (contactModifySuccess == true) {
                alert("Message modified successfully!");
            }
            var modifyUserSuccess = [[${modifyUserSuccess}]];
            if (modifyUserSuccess == true) {
                alert("Personal information modified successfully!");
            }
            var deleteContactSuccess = [[${deleteContactSuccess}]];
            if (deleteContactSuccess == true) {
                alert("Message deleted successfully!");
            } else if (deleteContactSuccess == false) {
                alert("Failed to delete message!");
            }
            var addContactInformationSuccess = [[${addContactInformationSuccess}]];
            if (addContactInformationSuccess == true) {
                alert("Added contact information successfully!");
            } else if (addContactInformationSuccess == false) {
                alert("Failed to add contact information!");
            }
            var deleteContactInformation = [[${deleteContactInformation}]];
            if (deleteContactInformation == true) {
                alert("Contact information deleted successfully!");
            } else if (deleteContactInformation == false) {
                alert("Failed to delete contact details!");
            }
            var updateContactInformationSuccess = [[${updateContactInformationSuccess}]];
            if (updateContactInformationSuccess == true) {
                alert("Contact information modified successfully!");
            } else if (updateContactInformationSuccess == false) {
                alert("Failed to modify contact information!");
            }

            var addShippingAddressSuccess = [[${addShippingAddressSuccess}]];
            if (addShippingAddressSuccess == true) {
                alert("Added successfully!");
            } else if (addShippingAddressSuccess == false) {
                alert("add failed!");
            }
            var deleteShippingAddress = [[${deleteShippingAddress}]];
            if (deleteShippingAddress == true) {
                alert("successfully deleted!");
            } else if (deleteShippingAddress == false) {
                alert("failed to delete!");
            }
            var updateShippingAddressSuccess = [[${updateShippingAddressSuccess}]];
            if (updateShippingAddressSuccess == true) {
                alert("Successfully modified!");
            } else if (updateShippingAddressSuccess == false) {
                alert("fail to edit!");
            }
            var setDefaultShippingAddressSuccess = [[${setDefaultShippingAddressSuccess}]];
            if (setDefaultShippingAddressSuccess == true) {
                alert("Set default shipping address successfully!");
            } else if (setDefaultShippingAddressSuccess == false) {
                alert("Failed to set default shipping address!");
            }
        }
    </script>
</head>
<body style="overflow-x: hidden">
<div style="width: 90%;margin-left: 5%;">
    <div th:include="common/head::#h"></div>
    <div th:include="${mainPage}::${mainPageKey}"></div>
    <div id="outerdiv"
         style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #fff;" src=""/>
        </div>
        <h1 style="color: yellow;text-align: center">Click any area outside the image to close the image</h1>
    </div>
</div>
<a class="imgdiv" href="#gotop">
    <img th:src="@{/static/images/top2.png}" id="gotop" alt="" class="imgsrc img-thumbnail"
         style="position: fixed;bottom: 10%;display: none;height: 40px;margin-left: 96.5%">
</a>
<script type="text/javascript">
    CKEDITOR.replace("contentGoods", {height: '220px', width: '100%'});
</script>
</body>
</html>