<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="row" style="margin-top: 5px">
        <div class="col-md-3">
            <div th:include="common/menuPersonalHubs::#m"></div>
        </div>
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">home</a></li>
                <li class="breadcrumb-item"><a href="/toPersonalHubsPage">Personal Center</a></li>
                <li class="breadcrumb-item active">List your product</li>
            </ol>
            <form role="form" method="post" action="/goods/save" onsubmit="return checkAddGoodsValue()">
                <div class="form-group">
                    <label for="name">The title of the product：</label>&nbsp;&nbsp;
                    <input type="hidden" class="form-control" id="userId" name="userId" th:value="${session.currentUser.id}"
                           placeholder="Please enter a username" required="required">
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="Please enter a product name" required="required">
                </div>
                <div class="form-group form-inline">
                    <label for="name">Product category：</label>&nbsp;&nbsp;
                    <select id="goodsTypeId" name="goodsTypeId" required="required" class="form-control">
                        <option value="">Select a product category...</option>
                        <div th:each="goodsType:${goodsTypeList}">
                            <option th:text="${goodsType.name}" th:value="${goodsType.id}"></option>
                        </div>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label for="name">Price：</label>&nbsp;&nbsp;
                    <input type="text" class="form-control" id="priceNow" name="priceNow"
                           placeholder="Please enter the price of the item" required="required">
                </div>
                <div class="form-group">
                    <label for="name">Product details：</label>&nbsp;&nbsp;<span style="color: red">Please upload at least one image, otherwise the default image will be used</span>
                    <textarea id="contentGoods" name="content" rows="30" cols="80"></textarea>
                </div>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>