<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="row" style="margin-top: 5px">
        <div class="col-md-3">
            <div th:include="common/menuPersonalHubs::#m"></div>
        </div>
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/toPersonalHubsPage">Profiles</a></li>
                <li class="breadcrumb-item active">My products</li>
            </ol>
            <form action="/toGoodsManagePage" method="post">
                <div class="row" style="margin-left: 3px">
                    <input type="text" class="form-control" id="nameSearchGoods" name="name" style="width: 200px"
                           th:value="${name}"
                           placeholder="Input product name...">
                    <select id="goodsTypeIdSearchGoods" name="goodsTypeId" th:value="${goodsTypeId}"
                            style="width: 200px;margin-left: 2px" class="form-control">
                        <option value="">Select category...</option>
                        <div th:each="goodsType:${goodsTypeList}">
                            <option th:text="${goodsType.name}" th:value="${goodsType.id}"
                                    th:selected="${goodsTypeId==goodsType.id}"></option>
                        </div>
                    </select>
                    <select id="stateSearchGoods" name="state" th:value="${state}" style="width: 200px;margin-left: 2px"
                            class="form-control">
                        <option value="">Select state...</option>
                        <div>
                            <option value="0" th:selected="${state==0}">Not Check</option>
                            <option value="1" th:selected="${state==1}">Approved</option>
                            <option value="2" th:selected="${state==2}">Not Approved</option>
                            <option value="3" th:selected="${state==3}">Off the shelves</option>
                            <option value="4" th:selected="${state==4}">Ordered</option>
                            <option value="5" th:selected="${state==5}">Deal Done</option>
                        </div>
                    </select>
                    <select id="isRecommendSearchGoods" name="isRecommend" th:value="${recommend}"
                            style="width: 200px;margin-left: 2px"
                            class="form-control">
                        <option value="">Whether the product is recommended or not...</option>
                        <div>
                            <option value="0" th:selected="${recommend==0}">Not recommended</option>
                            <option value="1" th:selected="${recommend==1}">Recommended</option>
                        </div>
                    </select>
                    <button type="submit" class="btn btn-primary status-icon hint--top" style="margin-left: 2px"
                            aria-label="Search"><i class="fa fa-search"></i>
                    </button>
                    <a href="javascript:resetSearchGoodsValue()">
                        <button type="button" class="btn btn-info status-icon hint--top" aria-label="Reset"
                                style="margin-left: 2px"><i class="fa fa-rotate-right"></i></button>
                    </a>
                </div>
            </form>
            <span th:if="${goodsList.size()!=0}" style="color: #0c9076">If the product is not approved, you need to modify the product, hover your mouse over <span style="color: red">the disapproved font </span>to show the reason for disapproval.</span>
            <span th:if="${goodsList.size()!=0}" style="float: right">Current has&nbsp;<span style="margin-top: 10px;color: red"
                                                                                     th:text="${goodsList.size()}"></span>&nbsp;data</span>
            <table class="table table-bordered table-striped table-hover table-borderless"
                   th:if="${goodsList.size()!=0}">
                <thead>
                <tr>
                    <th style="text-align: center">Post Time</th>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Category</th>
                    <th style="text-align: center">State</th>
                    <th style="text-align: center">Recommend</th>
                    <th style="text-align: center">Edit</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="goods:${goodsList}">
                    <tr>
                        <td th:text="${#dates.format(goods.addTime,'yyyy-MM-dd HH:mm:ss')}"
                            style="text-align: center"></td>
                        <td style="text-align: center"
                            th:title="${goods.name}"><a th:href="${'/goods/'+goods.id}"
                                                        th:text="${#strings.abbreviate(goods.name,15)}"
                                                        class="status-icon hint--top" th:aria-label="${goods.name}"></a>
                        </td>
                        <td th:text="${goods.goodsTypeName}" style="text-align: center"
                        ></td>
                        <!--TODO 改掉中文-->
                        <td th:title="${goods.state==2?goods.reason:''}"
                            th:text="${goods.state==0?'Not Check':(goods.state==1?'Approvd':(goods.state==2?'Not Approved':(goods.state==3?'Off shelves':(goods.state==4?'Ordered':'Deal Done'))))}"
                            th:style="${goods.state==0?'color:blue;text-align: center':(goods.state==1?'color:green;text-align: center':(goods.state==2?'color:red;text-align: center':(goods.state==3?'color:pink;text-align: center':(goods.state==4?'color:#660066;text-align: center':'color:#669966;text-align: center'))))}"></td>
                        <td th:text="${goods.isRecommend==0?'Not Recommended':'Recommended'}"
                            th:style="${goods.isRecommend==0?'color:red;text-align: center':'color:blue;text-align: center'}"
                        ></td>
                        <td style="text-align: center">
                            <a th:href="'javascript:seeOrModifyGoodsDetails('+${goods.id}+',1)'"
                               style="text-decoration: none">
                                <button type="button" class="btn btn-primary btn-sm status-icon hint--top"
                                        aria-label="Details" data-toggle="modal" data-target="#myModalSeeGoods"><i
                                        class="fa fa-search"></i></button>
                            </a>
                            <a th:href="'javascript:seeOrModifyGoodsDetails('+${goods.id}+',2)'"
                               style="text-decoration: none"
                               th:if="${goods.state!=4&&goods.state!=5}">
                                <button type="button" class="btn btn-info btn-sm status-icon hint--top" aria-label="Update"
                                        data-toggle="modal" data-target="#myModalSeeGoods"><i class="fa fa-pencil"></i>
                                </button>
                            </a>
                            <a th:href="'javascript:deleteGoods('+${goods.id}+')'" style="text-decoration: none"
                               th:if="${goods.state==3||goods.state==0||goods.state==2}">
                                <button type="button" class="btn btn-danger btn-sm status-icon hint--top"
                                        style="margin-left: 2px" aria-label="Delete"><i class="fa fa-trash-o"></i></button>
                            </a>
                            <a th:href="'javascript:updateGoodsState('+${goods.id}+',3)'" th:if="${goods.state==1}"
                               style="text-decoration: none">
                                <button type="button" class="btn btn-secondary btn-sm status-icon hint--top"
                                        style="margin-left: 2px" aria-label="Off shelves"><i class="fa fa-angle-double-down"></i>
                                </button>
                            </a>
                            <a th:href="'javascript:updateGoodsState('+${goods.id}+',1)'" th:if="${goods.state==3}"
                               style="text-decoration: none">
                                <button type="button" class="btn btn-warning btn-sm status-icon hint--top"
                                        style="margin-left: 2px" aria-label="On the shelves"><i class="fa fa-angle-double-up"></i>
                                </button>
                            </a>
                            <a th:href="'javascript:getContactInformation('+${goods.id}+')'"
                               th:if="${goods.state==4||goods.state==5}"
                               style="text-decoration: none">
                                <button type="button" class="btn btn-warning btn-sm status-icon hint--top" data-toggle="modal"
                                        data-target="#myModal"
                                        style="margin-left: 2px" aria-label="Get seller information"><i class="fa fa-phone"></i>
                                </button>
                            </a>
                            <a th:href="'javascript:updateGoodsState('+${goods.id}+',1)'" th:if="${goods.state==4}"
                               style="text-decoration: none">
                                <button type="button" class="btn btn-danger btn-sm status-icon hint--top"
                                        aria-label="Order be cancelled"><i
                                        class="fa fa-ban"></i></button>
                            </a>
                            <a th:href="'javascript:updateGoodsState('+${goods.id}+',5)'" th:if="${goods.state==4}"
                               style="text-decoration: none">
                                <button type="button" class="btn btn-success btn-sm status-icon hint--top"
                                        style="margin-left: 2px" aria-label="Deal done"><i class="fa fa-hand-peace-o"></i>
                                </button>
                            </a>
                            <a th:href="'javascript:updateGoodsState('+${goods.id}+',5)'"
                               th:if="${goods.goodsTypeId==8&&goods.state==1}"
                               style="text-decoration: none">
                                <button type="button" class="btn btn-success btn-sm status-icon hint--top"
                                        style="margin-left: 2px" aria-label="Deal done"><i class="fa fa-hand-peace-o"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
            <div th:if="${goodsList.size()==0}">
                <span style="color: red">No Data</span>
            </div>
        </div>
    </div>
    <!-- 查看或修改商品模态框-->
    <div class="modal fade" id="myModalSeeGoods">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title"><span id="modalHeadName"></span>Products</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form role="form" method="post" action="/goods/save" onsubmit="return checkAddGoodsValue()">
                        <div class="form-group">
                            <label for="name">Products Name：</label>&nbsp;&nbsp;
                            <input type="hidden" class="form-control" id="userId" name="userId"
                                   th:value="${session.currentUser.id}"
                                   placeholder="Username" required="required">
                            <input type="hidden" class="form-control" id="id" name="id"
                                   placeholder="ID" required="required">
                            <input type="text" class="form-control" id="goodsName" name="name"
                                   placeholder="Products Name..." required="required">
                        </div>
                        <div class="form-group form-inline">
                            <label for="name">Category：</label>&nbsp;&nbsp;
                            <select id="goodsTypeId" name="goodsTypeId" required="required" class="form-control">
                                <option value="">Select Category...</option>
                                <div th:each="goodsType:${goodsTypeList}">
                                    <option th:text="${goodsType.name}" th:value="${goodsType.id}"></option>
                                </div>
                            </select>
                        </div>
                        <div class="form-group form-inline">
                            <label for="name">Price：</label>&nbsp;&nbsp;
                            <input type="text" class="form-control" id="priceNow" name="priceNow"
                                   placeholder="Input Price..." required="required">
                        </div>
                        <div class="form-group">
                            <label for="name">Product Details：</label>&nbsp;&nbsp;<span
                                <!--todo 没有上传图片的功能，需要增加-->
                                style="color: red">Please upload at least one image, otherwise the system's default image will be used</span>
                            <textarea id="contentGoods" name="content" style="width: 50%"></textarea>
                        </div>
                        <div style="text-align: center">
                            <button type="submit" class="btn btn-primary" id="modifyButton">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--查看卖家联系方式模态框-->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">Contact Seller</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <span id="contactInformationStr"></span>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>