<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="col-md-6" style="margin-left: 25%">
        <form role="form" method="post" action="/user/login" onsubmit="return checkLoginUserState()">
            <h3 style="text-align: center">Login In &nbsp;&nbsp;</h3>
            <div class="form-group">
                <p class="help-block" style="float: right">If no account?Go<a href="/toRegisterPage"><span
                        class="badge badge-pill badge-info" style="color: white">Register</span></a></p>
            </div>
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" class="form-control" id="userName" name="userName" th:value="${userNameLogin}"
                       placeholder="Username here..." required="required">
            </div>
            <div class="form-group">
                <label for="name">Password</label>
                <input type="password" class="form-control" id="password" name="password"  th:value="${passwordLogin}"
                       placeholder="Password here..." required="required">
            </div>
            <div class="form-group">
                <p class="help-block">Forgot the Password? Go <a href="/toResetPasswordPage"><span class="badge badge-pill badge-warning" style="color: white">Looking For Password</span></a>
                </p>
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Login Now</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>