<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div id="b">
    <div class="col-md-6" style="margin-left: 25%">
        <form role="form" method="post" enctype="multipart/form-data" action="/user/save" onsubmit="return checkRegisterValue()">
            <h3 style="text-align: center">User Registration</h3>
            <div class="form-group">
                <p class="help-block" style="float: right">Already have an account?Go<a href="/toLoginPage"><span class="badge badge-pill badge-info" style="color: white">登录</span></a>
                </p>
            </div>
            <div class="form-group">
                <label for="name">Username</label>&nbsp;&nbsp;
                <span id="userNameFail" style="color: red"></span>
                <span id="userNameSuccess" style="color: forestgreen"></span>
                <input type="text" class="form-control" id="userName" name="userName"
                       placeholder="Enter username" required="required" onblur="checkUserName(this.value)">
            </div>
            <div class="form-group">
                <label for="name">Password</label>
                <input type="password" class="form-control" id="passwordRegister" name="password"
                       placeholder="Enter password" required="required">
            </div>
            <div class="form-group">
                <label for="name">Confirm password</label>
                <input type="password" class="form-control" id="password2Register"
                       placeholder="Enter confirm password" required="required">
            </div>
            <div class="form-group">
                <p>Profile picture</p>
                <label class="sr-only" for="inputfile">Profile picture</label>
                <input type="file" id="inputfile" name="userImage" required="required">
            </div>
            <div class="form-group">
                <label for="name">Nickname</label>
                <input type="text" class="form-control" id="nickName" name="nickName"
                       placeholder="Enter nickname" required="required">
            </div>
            <div class="form-group">
                <label for="name">Email</label>（For find password）
                <span id="emailFail" style="color: red"></span>
                <span id="emailSuccess" style="color: forestgreen"></span>
                <input type="email" class="form-control" id="emailRegister" name="email"
                       placeholder="Enter Email" required="required" onblur="checkEmail(this.value)">
            </div>
            <div class="form-group">
                <label for="name">Verification code</label>
                <input type="text" class="form-control" id="registerCode" name="imageCode"
                       placeholder="Enter verification code" required="required">
                <input type="button" class="btn btn-warning btn-sm" style="margin-top: 12px;" value="Verification Code"
                       onclick="setTime(this,1);getVerificationCode(1)">
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>