<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="col-md-6" style="margin-left: 25%">
        <form role="form" method="post" action="/user/resetPassword" onsubmit="return checkResetPasswordValue()">
            <h3 style="text-align: center">Forgot Password</h3>
            <div class="form-group">
                <label for="name">New Password</label>
                <input type="text" class="form-control" id="passwordResetPassword" name="password"
                       placeholder="New Password" required="required">
            </div>
            <div class="form-group">
                <label for="name">Confirm Password</label>
                <input type="text" class="form-control" id="password2ResetPassword"
                       placeholder="Confirm Password" required="required">
            </div>
            <div class="form-group">
                <label for="name">Confirm Email</label>
                <input type="email" class="form-control" id="emailResetPassword" name="email"
                       placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <label for="name">Verify Code</label>
                <input type="text" class="form-control" id="resetPasswordCode" name="imageCode"
                       placeholder="Verify Code" required="required">
                <input type="button" class="btn-warning btn btn-sm" style="margin-top: 12px;" value="Send"
                       onclick="setTime(this,2);getVerificationCode(2)">
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>